<footer class="text-center text-lg-start text-white" style="background-color: #362F78;">
    <section>
        <div class="container text-center text-md-start">
            <div class="row mt-0">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold">Institute</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        Amazing Technical: Empowering students with top-notch training in Java, Python, and Full Stack Web development for successful careers in tech. Industry-expert instructors, hands-on learning, and a commitment to real-world skills set us apart.
                    </p>
                </div>
            
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                
                    <h6 class="text-uppercase fw-bold">Teachers</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p>
                        <a href="#!" class="text-white">Sandip Kumar</a>
                    </p>
                    <p> <a href="#!" class="text-white"></a></p>
                    <p><a href="#!" class="text-white">Pradeep Kumar</a>
                    </p>
                    <p>  <a href="#!" class="text-white">Ganesh Sir</a></p>
                </div>
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    
                    <h6 class="text-uppercase fw-bold">Online Classes Traninig</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p> <a href="#!" class="text-white">Java Developer</a></p>
                    <p><a href="#!" class="text-white">Python Developer </a>
                    </p>
                    <p><a href="#!" class="text-white">Data Structure & Algo</a></p>
                    <p><a href="#!" class="text-white">AWS</a></p>
                </div>
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold">Contact</h6>
                    <hr class="mb-4 mt-0 d-inline-block mx-auto"
                        style="width: 60px; background-color: #7c4dff; height: 2px" />
                    <p><i class="fas fa-home mr-3"></i> India, NY 10012</p>
                    <p><i class="fas fa-envelope mr-3"></i> javawithcoders@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i> 7052563392</p>
                    <p><i class="fas fa-print mr-3"></i> 9005011181</p>
                </div>
            </div>
        </div>
    </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white" href="#">Amazing Technical</a>
    </div>
</footer>