<div class="container">
  <div class="row">
    <div class="col">
      <div class="container-fluid mt-2">
        <div class="row">
          <div class="col-md-6">
            <div class="data">
              <h1>LET'S ,</h1>
              <h1>DO</h1>
              <h1>SOMETHING .</h1>
            </div>
            <br /><br />
            <p>Let us be the Stock Holder</p>
          </div>
          <div class="col-md-6" id="background-container">
            <!-- Content for the second column goes here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
