<div class="container">
  <div class="row">
    <div class="col">
      <div
        id="carouselExampleCaptionsFull"
        class="carousel relative"
        data-bs-ride="carousel"
      >
        <!-- Indicators -->
        <div class="carousel-indicators mt-3">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptionsFull"
            data-bs-slide-to="0"
            class="active"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptionsFull"
            data-bs-slide-to="1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptionsFull"
            data-bs-slide-to="2"
          ></button>
        </div>

        <!-- Slides -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <iframe
              src="https://www.youtube.com/embed/beqprrnaKFc"
              frameborder="0"
              allowfullscreen
            ></iframe>
            <div class="carousel-caption d-none d-md-block">
              <h2 class="text-3xl font-semibold">Learn Bootstrap elements</h2>
              <h5 class="text-lg font-semibold">
                Best & free guide of responsive web design
              </h5>
              <div class="space-x-2">
                <a href="#" class="btn btn-primary mb-2">Start tutorial</a>
                <a href="#" class="btn btn-secondary">Read more</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <video class="d-block w-100" playsinline autoplay muted loop>
              <source
                src="https://tecdn.b-cdn.net/img/video/forest.mp4"
                type="video/mp4"
              />
            </video>
            <div class="carousel-caption d-none d-md-block">
              <h2 class="text-3xl font-semibold">
                You can place here any content
              </h2>
            </div>
          </div>
          <div class="carousel-item">
            <video class="d-block w-100" playsinline autoplay muted loop>
              <source
                src="https://tecdn.b-cdn.net/img/video/Tropical.mp4"
                type="video/mp4"
              />
            </video>
            <div class="carousel-caption d-none d-md-block">
              <h2 class="text-3xl font-semibold">And cover it with any mask</h2>
              <a href="#" class="btn btn-secondary">Learn more</a>
            </div>
          </div>
        </div>

        <!-- Previous and Next buttons -->
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptionsFull"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptionsFull"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
