<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col">
      <mat-card>
        <div class="container mt-5 mb-5">
          <div class="row">
            <div class="col">
              <h1
                style="font: 30px open sans, sans-serif; color: #333333"
                [innerHTML]="article.data.title"
              ></h1>
            </div>
          </div>

          <mat-card-header>
            <div class="row">
              <div class="col-md-12">
                <!-- Calendar and date show -->
                <h3>
                  <i class="far fa-calendar icon"></i>
                  {{ article.data.publicationDate | date : "EEEE, MMMM d, y" }}
                </h3>
              </div>

              <div class="col-md-12 pt-2">
                <!-- Icons inline -->
                <a
                  href="https://www.youtube.com/"
                  target="_blank"
                  class="text-danger pr-3"
                >
                  <i class="fab fa-youtube fa-lg"></i>
                </a>
                <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  class="text-primary pr-3"
                >
                  <i class="fab fa-facebook fa-lg"></i>
                </a>
                <a
                  href="https://github.com/"
                  target="_blank"
                  class="text-dark pr-3"
                >
                  <i class="fab fa-github fa-lg"></i>
                </a>
                <a
                  href="https://www.linkedin.com/"
                  target="_blank"
                  class="text-info"
                >
                  <i class="fab fa-linkedin fa-lg"></i>
                </a>
                <a
                  href="https://www.linkedin.com/"
                  target="_blank"
                  class="text-secondary"
                >
                  <i class="fab fa-facebook-messenger icon"></i>
                </a>

                <a
                  href="https://twitter.com/"
                  target="_blank"
                  class="text-info"
                >
                  <i class="fab fa-twitter icon"></i>
                </a>
              </div>
            </div>
          </mat-card-header>

          <mat-divider></mat-divider>

          <mat-card-content>
            <div class="row pt-3">
              <div class="col-md-12">
                <figure style="float: right">
                  <img
                    [src]="serverImage(article.data.imageNames[0])"
                    style="width: 380px; height: 286px; margin: 0 0 10px 10px"
                    alt=""
                  />
                </figure>

                <div>
                  <p
                    style="text-align: justify; color: #333333"
                    [innerHTML]="article.data.content"
                  ></p>
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-divider></mat-divider>

          <div class="row">
            <div class="col offset-lg-8 offset-sm-6 pt-2">
              <!-- Icons inline -->
              <a
                href="https://www.youtube.com/"
                target="_blank"
                class="text-danger pr-3"
              >
                <i class="fab fa-youtube fa-lg"></i>
              </a>
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="text-primary pr-3"
              >
                <i class="fab fa-facebook fa-lg"></i>
              </a>
              <a
                href="https://github.com/"
                target="_blank"
                class="text-dark pr-3"
              >
                <i class="fab fa-github fa-lg"></i>
              </a>
              <a
                href="https://www.linkedin.com/"
                target="_blank"
                class="text-info"
              >
                <i class="fab fa-linkedin fa-lg"></i>
              </a>
              <a
                href="https://www.linkedin.com/"
                target="_blank"
                class="text-secondary"
              >
                <i class="fab fa-facebook-messenger icon"></i>
              </a>

              <a href="https://twitter.com/" target="_blank" class="text-info">
                <i class="fab fa-twitter icon"></i>
              </a>
            </div>
          </div>

          <mat-divider></mat-divider>

          <div class="row">
            <div class="col">
              <div>
                <ul>
                  <li>
                    <a btn style="font-size: 20px" href=""
                      ><i class="fas fa-thumbs-up" style="font-size: 20px"></i
                      >Like</a
                    >
                  </li>
                  <li>
                    <a style="font-size: 20px" href=""
                      ><i class="fas fa-share" style="font-size: 20px"></i>
                      Share</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <mat-divider></mat-divider>

          <mat-card-footer>
            <div class="container mt-2">
              <div class="row">
                <div class="col-lg-1 mt-1 col-sm-2">
                  <figure>
                    <img
                      src="../../assets/Image/blankProfile.webp"
                      style="height: 60px; width: 52px"
                      alt=""
                    />
                  </figure>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-9">
                  <div class="row">
                    <textarea
                      class="form-control"
                      id="comment"
                      rows="2"
                      placeholder="Type your comment here..."
                    ></textarea>
                  </div>
                  <div class="row mt-1">
                    <!-- Use Angular's *ngIf to conditionally apply the fxFlex directive -->
                    <button
                      mat-raised-button
                      color="primary"
                      fxFlex.gt-md="50%"
                    >
                      Comment
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-footer>
        </div>
      </mat-card>
    </div>
  </div>
</div>
