<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-7">
      <mat-card>
        <mat-card-content>
          <ul>
            <li *ngFor="let article of articles.data">
              <i class="fas fa-arrow-right"></i>
              <a [routerLink]="'/view-article/' + article.articleId">
                <p [innerHTML]="article.title"></p>
                <mat-divider></mat-divider>
              </a>
            </li>
          </ul>

          <mat-card-footer>
            <button
              mat-raised-button
              color="accent"
              type="submit"
              class="w-small"
              [routerLink]="'/latest-article'"
            >
              View More
            </button>
          </mat-card-footer>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3">
      <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com -->
      <!--Footer container-->
      <footer
        class="flex flex-col items-center bg-neutral-200 text-center text-white dark:bg-neutral-600 dark:text-neutral-200"
      >
        <div class="container p-6">
          <div class="grid gap-4 md:grid-cols-3 lg:grid-cols-6">
            <div class="mb-6 lg:mb-0">
              <img
                src="https://tecdn.b-cdn.net/img/new/fluid/city/113.webp"
                class="w-full rounded-md shadow-lg"
              />
            </div>
            <div class="mb-6 lg:mb-0">
              <img
                src="https://tecdn.b-cdn.net/img/new/fluid/city/111.webp"
                class="w-full rounded-md shadow-lg"
              />
            </div>
            <div class="mb-6 lg:mb-0">
              <img
                src="https://tecdn.b-cdn.net/img/new/fluid/city/112.webp"
                class="w-full rounded-md shadow-lg"
              />
            </div>
            <div class="mb-6 lg:mb-0">
              <img
                src="https://tecdn.b-cdn.net/img/new/fluid/city/114.webp"
                class="w-full rounded-md shadow-lg"
              />
            </div>
            <div class="mb-6 lg:mb-0">
              <img
                src="https://tecdn.b-cdn.net/img/new/fluid/city/115.webp"
                class="w-full rounded-md shadow-lg"
              />
            </div>
            <div class="mb-6 lg:mb-0">
              <img
                src="https://tecdn.b-cdn.net/img/new/fluid/city/116.webp"
                class="w-full rounded-md shadow-lg"
              />
            </div>
          </div>
        </div>

        <!--Copyright section-->
        <div
          class="w-full bg-neutral-300 p-4 text-center text-neutral-700 dark:bg-neutral-700 dark:text-neutral-200"
        >
          © 2023 Copyright:
          <a class="dark:text-neutral-400" href="https://tw-elements.com/"
            >TW elements</a
          >
        </div>
      </footer>
    </div>
  </div>
</div>
