<div class="mat-card">
  <div class="container">
    <div class="row">
      <div
        class="col-md-12 mb-5"
        *ngFor="let article of articles.data; let i = index"
      >
        <mat-card>
          <mat-card-header>
            <div class="container">
              <div class="row">
                <div class="col">
                  <figure>
                    <img
                      src="../../assets/Image/blankProfile.webp"
                      class="card-img-top"
                      alt="Card Image"
                      style="
                        height: 30px;
                        width: 30px;
                        border: 1px solid black;
                        border-radius: 50%;
                      "
                    />
                  </figure>
                </div>

                <div class="col">
                  <b>
                    {{ article.publicationDate | date : "EEEE, MMMM d, y " }}</b
                  >
                </div>

                <div
                  class="col d-flex justify-content-end align-items-center"
                  (click)="showDropDownItem($event, i)"
                >
                  <i class="fa-solid fa-ellipsis-vertical threedot"></i>
                </div>
              </div>
            </div>
          </mat-card-header>

          <mat-divider></mat-divider>

          <mat-card-content>
            <h2 class="card-title mt-3">{{ article.title }}</h2>
            <p
              class="card-text"
              [innerHTML]="
                showSeeMore[i] ? article.content : truncatedContent[i]
              "
            ></p>
            <div class="parent">
              <a
                (click)="toggleContent(i)"
                class="card-link btn btn-primary"
                style="font-size: 14px; color: aliceblue"
              >
                See {{ showSeeMore[i] ? "Less" : "More" }}
              </a>
            </div>
          </mat-card-content>

          <mat-divider> </mat-divider>

          <mat-card-footer>
            <div class="container">
              <div class="custom-container">
                <div
                  class="mt-2 pt-2 pb-2 d-inline"
                  style="margin-bottom: 30px"
                >
                  <i
                    class="fas fa-thumbs-up"
                    style="font-size: 20px; color: blue; vertical-align: middle"
                  ></i>
                  <span style="vertical-align: middle">100{{ i }}</span>
                </div>
                <div class="mt-2 pt-2 pb-2 d-inline" style="margin-left: 10px">
                  <i
                    class="fas fa-thumbs-down"
                    style="font-size: 20px; color: red; vertical-align: middle"
                  ></i>
                  <span style="vertical-align: middle">2</span>
                </div>
              </div>
            </div>
          </mat-card-footer>

          <!-- drop down item started -->
          <div class="container dropdown-item" *ngIf="dropDownItem[i]">
            <div class="row">
              <div class="col text-center">
                <mat-card style="width: 20rem" id="myCard">
                  <ul>
                    <div>
                      <li>
                        <i class="fa fa-trash pt-2 text-danger"></i
                        ><a href="#" class="pb-1">Delete</a>
                      </li>
                      <mat-divider></mat-divider>
                    </div>
                    <div>
                      <li>
                        <i class="fa fa-pencil mt-2 text-primary"></i
                        ><a href="#" class="pb-1">Update</a>
                      </li>
                      <mat-divider></mat-divider>
                    </div>
                    <div [routerLink]="'/view-article/' + article.articleId">
                      <li>
                        <i class="fa fa-eye mt-2 text-secondary pb-1"></i
                        ><a class="pb-1">View</a>
                      </li>
                    </div>
                  </ul>
                </mat-card>
              </div>
            </div>
          </div>
          <!-- drop down item ended -->
        </mat-card>
      </div>
    </div>
  </div>
</div>
