/* password-reset.component.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.card {
  width: 400px;
}

.card-header {
  background-color: #008b8b;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.card-body {
  padding: 20px;
}

.full-width {
  width: 100%;
}

.back {
  margin-left: 2px;
  background-color: red;
}
