<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center mt-5 mb-5">
            <h1>What's FinnoApp about?</h1>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card custom-card shadow">
                    <div class="inner">
                        <img src="../../assets/Image/service1.jpg" class="card-img-top" alt="Beautiful Image">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title"><h2>We Provide Best Market</h2></h5>
                        <p class="card-text">This is a beautiful card with an image, title, and description. Hover over the image for an effect.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card custom-card shadow">
                    <div class="inner">
                        <img src="../../assets/Image/service2.jpg" class="card-img-top" alt="Beautiful Image">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title"><h2>Your Trust is Our Goal</h2></h5>
                        <p class="card-text">This is a beautiful card with an image, title, and description. Hover over the image for an effect.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card custom-card shadow">
                    <div class="inner">
                        <img src="../../assets/Image/service3.jpg" class="card-img-top" alt="Beautiful Image">
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title "><h2>India No 1 Leading Stock</h2></h5>
                        <p class="card-text">This is a beautiful card with an image, title, and description. Hover over the image for an effect.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
</div>
