<div class="container">
  <div class="row">
    <div class="col mt-2">
      <section
        class="d-flex justify-content-between p-5"
        style="background-color: #6c2bd9"
      >
        <div class="me-5 container">
          <span style="font-size: 14px; color: white; margin-left: 75px"
            ><b>Get connected with us on social networks:</b></span
          >
        </div>

        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </section>
    </div>
  </div>
</div>
