<!-- Your Angular component template -->
<div class="container">
  <div class="row">
    <div class="col-md-10 mt-5">
      <mat-card>
        <mat-card-header>
          <h3>Latest</h3>
        </mat-card-header>

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <div>
                      <h3>Company :</h3>
                      <!-- Create text field -->
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Enter Company"
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="col-md-12">
                      <div>
                        <h3>Date :</h3>
                        <!-- Create date picker using Bootstrap datepicker -->
                        <input
                          #datePicker
                          type="date"
                          class="form-control"
                          (change)="datePicked(datePicker.value)"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- Updated search bar with a search icon on the right -->
                  <div class="col-md-4">
                    <div class="col-md-12">
                      <div>
                        <h3>Search :</h3>
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Search..."
                            #dataInput
                            (keyup)="filterArticles(dataInput.value)"
                          />
                          <span class="input-group-text"
                            ><i class="fas fa-search"></i
                          ></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Show article section -->
          <div class="container mt-5">
            <div class="row mb-3" *ngFor="let article of pagedArticles">
              <div class="col-sm-2">
                <!-- Image part -->
                <img
                  [src]="serverImage(article.imageNames[0])"
                  class="img-fluid rounded"
                  style="width: 100px; height: 100px"
                />
              </div>

              <div class="col-sm-10">
                <div class="row">
                  <div class="col-md-12">
                    <a [routerLink]="'/view-article/' + article.articleId">
                      <!--article title-->
                      <div [innerHTML]="article.title"></div>
                    </a>
                  </div>

                  <div
                    class="col-md-12"
                    style="
                      padding-top: 2%;
                      position: relative;
                      font-size: 13px;
                      color: #dc2626;
                    "
                  >
                    <!-- Article date -->
                    {{ article.publicationDate | date : "EEEE, MMMM d, y" }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--pagingation section-->
        <div class="container mt-5">
          <div class="row">
            <div class="col">
              <mat-paginator
                [pageSize]="pageSize"
                [length]="articles.data.length"
                [pageSizeOptions]="pageSizeOp"
                (page)="onPageChange($event)"
              >
              </mat-paginator>
            </div>
          </div>
        </div>

        <!--error message for no article found-->
        <div class="container" *ngIf="showError">
          <div class="row">
            <div class="col text-center">
              <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">No Such Article Found</h4>
                <p>
                  We couldn't find the article you're looking for. Please check
                  your search criteria or try again later.
                </p>
                <hr />
                <p class="mb-0">
                  If you believe this is an error, please contact our support
                  team.
                </p>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div class="mt-5">
  <app-footer></app-footer>
</div>
