<!-- Your Angular component template -->
<div class="container">
  <div class="row">
    <div class="col-md-10">

      <mat-card>
        <mat-card-header>
          <h3>Latest</h3>
        </mat-card-header>

        <div class="container">
          <div class="row">
            <div class="col">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <div>
                      <h3>Company :</h3>
                      <!-- Create text field -->
                      <input type="text" class="form-control" placeholder="Enter Company">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="col-md-12">
                      <div>
                        <h3>Date :</h3>
                        <!-- Create date picker using Bootstrap datepicker -->
                        <input type="date" class="form-control">
                      </div>
                    </div>
                  </div>
                  <!-- Updated search bar with a search icon on the right -->
                  <div class="col-md-4">
                    <div class="col-md-12">
                      <div>
                        <h3>Search :</h3>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search...">
                          <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Show article section -->
          <div class="container mt-5">
            <div class="row">
              <div class="col-sm-2">
                <!-- Image part -->
                <img src="../../assets/Image/customer6.jpg" class="img-fluid rounded" style="width: 100px; height: 100px;">
              </div>

              <div class="col-sm-10">
                <div class="row">
                  <div class="col-md-12">
                    <a href="#"> 
                          <!-- Article content -->
                          Java is the World most popular programming language I have ever seen....
                          why only java  i dont know why only java but yes it is lore
                    </a>
                  </div>

                  <div class="col-md-12 mt-2" style="padding-top: 2%; position:relative;">
                    <!-- Article date -->
                    Tuesday, Dec, 2023
                  </div>
                </div>
              </div>
            </div>
          </div>

          
        </div>


        <!--pagingation section-->
        <div class="container mt-5">
             <div class="row">
                <div class="col">                  
                 <mat-paginator  [pageSize]="pageSize" [pageSizeOptions]="pageSizeOp" (page)="onPageChange($event)">
                 </mat-paginator>                   
                </div>
             </div>
        </div>

      </mat-card>
 
    </div>
  </div>
</div>
