<div class="container-fluid mt-0 bg-color">
    <div class="row ">
        <div class="col-md-8 offset-1 pt-5">
            <h1 class="size">Love from our Customers</h1>
        </div>
        <div class="col-md-2 pt-5">
            <div class="heart"></div>
        </div>
    </div>
    <div class="row">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                  <div class="container-fluid">
                                     <div class="row">

                                        <div class="rating">
                                            <input type="radio" id="star5" name="rating" value="5">
                                            <label for="star5"></label>
                                            <input type="radio" id="star4" name="rating" value="4">
                                            <label for="star4"></label>
                                            <input type="radio" id="star3" name="rating" value="3">
                                            <label for="star3"></label>
                                            <input type="radio" id="star2" name="rating" value="2">
                                            <label for="star2"></label>
                                            <input type="radio" id="star1" name="rating" value="1">
                                            <label for="star1"></label>
                                          </div>

                                     </div>
                                     <div class="row mt-5">
                                       <h2 class="pt-0"><b>John D. - 5 Stars</b></h2>
                                     </div>
                                     <div class="row mt-1">
                                        <p>"I've been using this stock market platform for over a year now, and I couldn't be happier. The user interface is intuitive, making it
                                            easy to navigate through different stocks and analyze market trends. 
                                            The real-time updates and customizable watchlists keep me informed about 
                                            my investments. Excellent service!"                                       
                                       </p>
                                     </div>

                                     <div class="row mt-4">
                                         <div class="col-md-3">
                                            <img src="../../assets/Image/customer1.jpg" class="rounded-circle-small">

                                         </div>
                                         <div class="col-md-9 pcolor-change">
                                            <p>Sandeep Kumar</p>
                                            <p >Stock Holder</p>
                                         </div>
                                     </div>

                                  </div>
                            </div>
                            <div class="col-md-4">
                                <div class="container-fluid">
                                    <div class="row">

                                       <div class="rating">
                                           <input type="radio" id="star5" name="rating" value="5">
                                           <label for="star5"></label>
                                           <input type="radio" id="star4" name="rating" value="4">
                                           <label for="star4"></label>
                                           <input type="radio" id="star3" name="rating" value="3">
                                           <label for="star3"></label>
                                           <input type="radio" id="star2" name="rating" value="2">
                                           <label for="star2"></label>
                                           <input type="radio" id="star1" name="rating" value="1">
                                           <label for="star1"></label>
                                         </div>

                                    </div>
                                    <div class="row mt-5">
                                      <h2 class="pt-0"><b>John D. - 5 Stars</b></h2>
                                    </div>
                                    <div class="row mt-1">
                                        <p>"I've been using this stock market platform for over a year now, and I couldn't be happier. The user interface is intuitive, making it
                                            easy to navigate through different stocks and analyze market trends. 
                                            The real-time updates and customizable watchlists keep me informed about 
                                            my investments. Excellent service!"                                       
                                       </p>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-md-3">
                                           <img src="../../assets/Image/customer2.jpg" class="rounded-circle-small">

                                        </div>
                                        <div class="col-md-9 pcolor-change">
                                           <p>Sandeep Kumar</p>
                                           <p >Stock Holder</p>
                                        </div>
                                    </div>

                                 </div>
                            </div>
                            <div class="col-md-4">
                                <div class="container-fluid">
                                    <div class="row">

                                       <div class="rating">
                                           <input type="radio" id="star5" name="rating" value="5">
                                           <label for="star5"></label>
                                           <input type="radio" id="star4" name="rating" value="4">
                                           <label for="star4"></label>
                                           <input type="radio" id="star3" name="rating" value="3">
                                           <label for="star3"></label>
                                           <input type="radio" id="star2" name="rating" value="2">
                                           <label for="star2"></label>
                                           <input type="radio" id="star1" name="rating" value="1">
                                           <label for="star1"></label>
                                         </div>

                                    </div>
                                    <div class="row mt-5">
                                      <h2 class="pt-0"><b>John D. - 5 Stars</b></h2>
                                    </div>
                                    <div class="row mt-1">
                                        <p>"I've been using this stock market platform for over a year now, and I couldn't be happier. The user interface is intuitive, making it
                                            easy to navigate through different stocks and analyze market trends. 
                                            The real-time updates and customizable watchlists keep me informed about 
                                            my investments. Excellent service!"                                       
                                       </p>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-md-3">
                                           <img src="../../assets/Image/customer3.jpg" class="rounded-circle-small">

                                        </div>
                                        <div class="col-md-9 pcolor-change">
                                           <p>Sandeep Kumar</p>
                                           <p >Stock Holder</p>
                                        </div>
                                    </div>

                                 </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="container-fluid">
                                    <div class="row">

                                       <div class="rating">
                                           <input type="radio" id="star5" name="rating" value="5">
                                           <label for="star5"></label>
                                           <input type="radio" id="star4" name="rating" value="4">
                                           <label for="star4"></label>
                                           <input type="radio" id="star3" name="rating" value="3">
                                           <label for="star3"></label>
                                           <input type="radio" id="star2" name="rating" value="2">
                                           <label for="star2"></label>
                                           <input type="radio" id="star1" name="rating" value="1">
                                           <label for="star1"></label>
                                         </div>

                                    </div>
                                    <div class="row mt-5">
                                      <h2 class="pt-0"><b>John D. - 5 Stars</b></h2>
                                    </div>
                                    <div class="row mt-1">
                                        <p>"I've been using this stock market platform for over a year now, and I couldn't be happier. The user interface is intuitive, making it
                                            easy to navigate through different stocks and analyze market trends. 
                                            The real-time updates and customizable watchlists keep me informed about 
                                            my investments. Excellent service!"                                       
                                       </p>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-md-3">
                                           <img src="../../assets/Image/customer4.jpg" class="rounded-circle-small">

                                        </div>
                                        <div class="col-md-9 pcolor-change">
                                           <p>Sandeep Kumar</p>
                                           <p >Stock Holder</p>
                                        </div>
                                    </div>

                                 </div>
                            </div>
                            <div class="col-md-4">
                                <div class="container-fluid">
                                    <div class="row">

                                       <div class="rating">
                                           <input type="radio" id="star5" name="rating" value="5">
                                           <label for="star5"></label>
                                           <input type="radio" id="star4" name="rating" value="4">
                                           <label for="star4"></label>
                                           <input type="radio" id="star3" name="rating" value="3">
                                           <label for="star3"></label>
                                           <input type="radio" id="star2" name="rating" value="2">
                                           <label for="star2"></label>
                                           <input type="radio" id="star1" name="rating" value="1">
                                           <label for="star1"></label>
                                         </div>

                                    </div>
                                    <div class="row mt-5">
                                      <h2 class="pt-0"><b>John D. - 5 Stars</b></h2>
                                    </div>
                                    <div class="row mt-1">
                                        <p>"I've been using this stock market platform for over a year now, and I couldn't be happier. The user interface is intuitive, making it
                                            easy to navigate through different stocks and analyze market trends. 
                                            The real-time updates and customizable watchlists keep me informed about 
                                            my investments. Excellent service!"                                       
                                       </p>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-md-3">
                                           <img src="../../assets/Image/customer5.jpg" class="rounded-circle-small">

                                        </div>
                                        <div class="col-md-9 pcolor-change">
                                           <p>Sandeep Kumar</p>
                                           <p >Stock Holder</p>
                                        </div>
                                    </div>

                                 </div>
                            </div>
                            <div class="col-md-4">
                                <div class="container-fluid">
                                    <div class="row">

                                       <div class="rating">
                                           <input type="radio" id="star5" name="rating" value="5">
                                           <label for="star5"></label>
                                           <input type="radio" id="star4" name="rating" value="4">
                                           <label for="star4"></label>
                                           <input type="radio" id="star3" name="rating" value="3">
                                           <label for="star3"></label>
                                           <input type="radio" id="star2" name="rating" value="2">
                                           <label for="star2"></label>
                                           <input type="radio" id="star1" name="rating" value="1">
                                           <label for="star1"></label>
                                         </div>

                                    </div>
                                    <div class="row mt-5">
                                      <h2 class="pt-0"><b>John D. - 5 Stars</b></h2>
                                    </div>
                                    <div class="row mt-1">
                                        <p>"I've been using this stock market platform for over a year now, and I couldn't be happier. The user interface is intuitive, making it
                                             easy to navigate through different stocks and analyze market trends. 
                                             The real-time updates and customizable watchlists keep me informed about 
                                             my investments. Excellent service!"                                       
                                        </p>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-md-3">
                                           <img src="../../assets/Image/customer6.jpg" class="rounded-circle-small">

                                        </div>
                                        <div class="col-md-9 pcolor-change">
                                           <p>Sandeep Kumar</p>
                                           <p >Stock Holder</p>
                                        </div>
                                    </div>

                                 </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="carousel-item">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="container-fluid">
                                    <div class="row">

                                       <div class="rating">
                                           <input type="radio" id="star5" name="rating" value="5">
                                           <label for="star5"></label>
                                           <input type="radio" id="star4" name="rating" value="4">
                                           <label for="star4"></label>
                                           <input type="radio" id="star3" name="rating" value="3">
                                           <label for="star3"></label>
                                           <input type="radio" id="star2" name="rating" value="2">
                                           <label for="star2"></label>
                                           <input type="radio" id="star1" name="rating" value="1">
                                           <label for="star1"></label>
                                         </div>

                                    </div>
                                    <div class="row mt-5">
                                      <h2 class="pt-0"><b>John D. - 5 Stars</b></h2>
                                    </div>
                                    <div class="row mt-1">
                                        <p>"I've been using this stock market platform for over a year now, and I couldn't be happier. The user interface is intuitive, making it
                                            easy to navigate through different stocks and analyze market trends. 
                                            The real-time updates and customizable watchlists keep me informed about 
                                            my investments. Excellent service!"                                       
                                       </p>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-md-3">
                                           <img src="../../assets/Image/customer7.jpg" class="rounded-circle-small">

                                        </div>
                                        <div class="col-md-9 pcolor-change">
                                           <p>Sandeep Kumar</p>
                                           <p >Stock Holder</p>
                                        </div>
                                    </div>

                                 </div>
                            </div>
                            <div class="col-md-4">
                                <div class="container-fluid">
                                    <div class="row">

                                       <div class="rating">
                                           <input type="radio" id="star5" name="rating" value="5">
                                           <label for="star5"></label>
                                           <input type="radio" id="star4" name="rating" value="4">
                                           <label for="star4"></label>
                                           <input type="radio" id="star3" name="rating" value="3">
                                           <label for="star3"></label>
                                           <input type="radio" id="star2" name="rating" value="2">
                                           <label for="star2"></label>
                                           <input type="radio" id="star1" name="rating" value="1">
                                           <label for="star1"></label>
                                         </div>

                                    </div>
                                    <div class="row mt-5">
                                      <h2 class="pt-0"><b>John D. - 5 Stars</b></h2>
                                    </div>
                                    <div class="row mt-1">
                                        <p>"I've been using this stock market platform for over a year now, and I couldn't be happier. The user interface is intuitive, making it
                                            easy to navigate through different stocks and analyze market trends. 
                                            The real-time updates and customizable watchlists keep me informed about 
                                            my investments. Excellent service!"                                       
                                       </p>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-md-3">
                                           <img src="../../assets/Image/customer8.jpg" class="rounded-circle-small">

                                        </div>
                                        <div class="col-md-9 pcolor-change">
                                           <p>Sandeep Kumar</p>
                                           <p >Stock Holder</p>
                                        </div>
                                    </div>

                                 </div>
                            </div>
                            <div class="col-md-4">
                                <div class="container-fluid">
                                    <div class="row">

                                       <div class="rating">
                                           <input type="radio" id="star5" name="rating" value="5">
                                           <label for="star5"></label>
                                           <input type="radio" id="star4" name="rating" value="4">
                                           <label for="star4"></label>
                                           <input type="radio" id="star3" name="rating" value="3">
                                           <label for="star3"></label>
                                           <input type="radio" id="star2" name="rating" value="2">
                                           <label for="star2"></label>
                                           <input type="radio" id="star1" name="rating" value="1">
                                           <label for="star1"></label>
                                         </div>

                                    </div>
                                    <div class="row mt-5">
                                      <h2 class="pt-0"><b>John D. - 5 Stars</b></h2>
                                    </div>
                                    <div class="row mt-1">
                                        <p>"I've been using this stock market platform for over a year now, and I couldn't be happier. The user interface is intuitive, making it
                                            easy to navigate through different stocks and analyze market trends. 
                                            The real-time updates and customizable watchlists keep me informed about 
                                            my investments. Excellent service!"                                       
                                       </p>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col-md-3">
                                           <img src="../../assets/Image/customer9.jpg" class="rounded-circle-small">

                                        </div>
                                        <div class="col-md-9 pcolor-change">
                                           <p>Sandeep Kumar</p>
                                           <p >Stock Holder</p>
                                        </div>
                                    </div>

                                 </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <br><br><br>
</div>

